node_modules
package-lock.json
ts/*/node_modules
ts/*/build
ts/*/package-lock.json
ts/client/generators/textures/raw/*
ts/client/src/gen/*
ts/client/build
ts/client/public/textures/*
*.DS_STORE
*.png~
*.png-autosave.kra